table, th, td {
  border: 1px solid #646464;
}

th, td {
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #F2F2F2;
  cursor: pointer;
}

th:hover {
  background-color: #E7E7E7;
}